body{
  background-color: antiquewhite;
  margin: 0;
}

form{
  max-width: 476px;
  max-height: 591px;
  background-color: white;
  margin-top: 20px;
  font-family: 'Satoshi', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.general_label{
  font-size: 16px;
}

.input{
  height: 99px;
  margin: 0 28px;
  
}

.name_input{
  margin-top: 13px;
}

#header{
  margin-left: 0;
  margin-right: 0;
  height: 58px;
  align-items: center;
  border-bottom: 1px solid #E2E8F0;
}

#header button{
  background: #3C50E0;
  border-radius: 4px;
  padding: 8px 25px;
  gap: 10px;
  margin-right: 14px;
  color: white;
  margin-top: 11px;
  margin-bottom: 7px;
}
#header label{
  margin-left: 28px;
  align-self: center;
  margin-bottom: 0;
}

input{
  background-color: white;
  margin-top: 10px;
}

select{
  background: url('/chevron-down.svg') no-repeat right center content-box;
  margin-top: 10px;
  color:grey;
}



